<div class="containerTropa">
  <div class="col">
    <h1>Crear tropas</h1>
    <div class="row">
      <button class="btn btn-primary btnTropa" (click)="crearTropa(1)" >Crear Arquero</button>
      <button class="btn btn-primary btnTropa">Crear Espachin</button>
      <button class="btn btn-primary btnTropa">Crear Bersequer</button>
    </div>

    <div class="row">
      <button class="btn btn-primary btnTropa">Crear Asesino</button>
      <button class="btn btn-primary btnTropa">Crear Jinete</button>
      <button class="btn btn-primary btnTropa">Crear Mago</button>
    </div>

    <div class="row">
      <button class="btn btn-primary btnTropa">Crear Espia</button>
    </div>
  </div>
</div>


